.root {
  display: none;
}

input:checked {
  + .root {
    display: block;
    > li {
      ul {
        display: none;
      }

      &:hover {
        ul {
          display: block;
        }
      }
    }
  }
}
